<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="lynxmotion_al5d">
  <link name="base_link">
    <inertial>
      <mass value="1"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.0027" ixy="0" ixz="0" iyy="0.0027" iyz="0" izz="0.005" />
    </inertial>
    <collision name="collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.005" radius="0.04"/>
        </geometry>
          <contact_coefficients>
              <mu1>0</mu1>
              <mu2>0</mu2>
          </contact_coefficients>
      </collision>
      <visual name="visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.05" radius="0.04"/>
        </geometry>
      </visual>
  </link>

  <xacro:include filename="$(find arm_description)/models/al5d_macro.urdf.xacro"/>
  <lynxmotion_al5d prefix="al5d_" parent_link="base_link">
    <origin xyz="0 0 0"/>
  </lynxmotion_al5d>
</robot>
